body, div, p, ul, li 
	{
		padding:0;
		margin:0;
		background-color: #e2e2e2;
	}
	h1, h2, h3, table, tr
	{
		color: white;
		font-family: Verdana;
		font-size:15px;
	}
	h2, tr

	td
	{
		color: white;
		font-size: 15px;
	}
	

	input[type="button"] {
    font-size: 15px;
    font-family: Arial;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #8EBAF2;
    padding: 5px 5px;
    text-shadow: 2px 3px 3px #5E5E5E;
    -webkit-box-shadow: 1px 1px 0px 0px #BEE2F9;
    -moz-box-shadow: 1px 1px 0px 0px #BEE2F9;
    box-shadow: 1px 1px 0px 0px #BEE2F9;
    cursor: pointer;
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(50deg, #afffff 5%, #eeeeff 80%);
    background: -moz-linear-gradient(50deg, #afffff 5%, #eeeeff 80%);
    background: -ms-linear-gradient(50deg, #afffff 5%, #eeeeff 80%);
    background: linear-gradient(150deg, #afffff 5%, #eeeeff 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63b8ee",endColorstr="#0F5AA1");
	
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
}
.formulario1{
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1565C0;
    padding: 3em;
    min-width: 400px;
    border-bottom: 1px solid white;
}
.formulario1 table{
        display: flex;
    justify-content: center;
}
.formulario1 table tr{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario1 input[type=text]{
     padding: .6em .5em;
}
.formulario2{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1EB513;
    padding: 4em;
    min-height: 167px;
}

.formulario2 input[type=text],input[type=password]{
        padding: .6em .5em;
}
form input[type=submit]{
        background: #2196F3;
    border: 0;
    padding: 1em 2.2em;
    margin: 1em;
    color: white;
    cursor: pointer;

}

.formulario3{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1EB513;
    padding: 2em;
    min-height: 60px;
}

.formulario4{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1565C0;
    padding: 1em;
    min-height: 100px;
}

a button{
    background: gray;
    border: 0;
    padding: 1em 2.2em;
    margin: 1em;
    color: white;
    cursor: pointer;         
}

body input[type="submit"]{
    background: gray;
    border: 0;
    padding: 1em 2.2em;
    margin: 1em;
    color: white;
    cursor: pointer;
}

.formulario5 {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1565C0;
    padding: 1em;
    min-height: 80px;
}


.formulario5 input[type=text]{
        padding: .4em .4em;
}

.formulario6{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1565C0;
    padding: 4em;
    min-width: 412px;
    border-bottom: 1px solid white;
}
.formulario6 table{
        display: flex;
    justify-content: justify;
}
.formulario6 table td tr{
        display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: justify;
}
.formulario6 input[type=text]{
     padding: .6em .5em;
}

.formulario7{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1EB513;
    padding: 1em;
    min-height: 80px;
}

.formulario7 input[type=text]{
        padding: .4em .4em;
}


.img{
    background: #fff url('imagenes/logo.jpg') no-repeat center;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:-1;
}

.img{
    width: 950px; margin:auto;
}
